@using System.Web.Optimization
@model PagedList.IPagedList<efsemop.Framework.Pepemosca.Data.SubAlcaldia>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sub Alcaldias";
}

@section Styles {
    @Styles.Render("~/bundles/core/subalcaldia/css")

}

<h3>@ViewBag.Title</h3>

<div id="page-subalcaldias">

    <div class="row">
        <div class="col-xs-9 col-sm-3 spacer-component">
            <div class="input-group">
                <p>
                    @Html.ActionLink("Crear Nuevo", "Crear")
                </p>
            </div>
            <div class="clearfix"></div>
            @using (Html.BeginForm("Index", "SubAlcaldia", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("texto", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Texto búsqueda..." })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar</button>
                    </span>
                </div>
            }
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table id="tbl-subalcaldias" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Direccion</th>
                        <th>@Html.ActionLink("Zona", "Index", new { sortOrder = ViewBag.ZonaSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Telefono</th>                        
                        <th>Responsable</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Zona)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreSubAlcalde)
                            </td>
                            <td>
                                <div id="box-opciones" class="btn-group">
                                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                    </button>
                                    <ul id="btn-opciones" class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("Index", "SubAlcaldia", new {id = item.IdSubAlcaldia})"><i class="glyphicon glyphicon glyphicon-edit"> </i> Editar </a>
                                            <a href="@Url.Action("Eliminar", "SubAlcaldia", new {id = item.IdSubAlcaldia})"><i class="glyphicon glyphicon glyphicon-remove"> </i> Eliminar </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
           new
           {
               page,
               sortOrder = ViewBag.CurrentSort,
               currentFilter = ViewBag.CurrentFilter
           }))
        </div>
    </div>

</div>
